body {
    min-height: 100vh;
    background-color: rgb(28, 15, 15);
    display: grid ;
    place-items: center;
}

.calculadora {
    background-color: rgb(71, 83, 215);
    color: white;
     width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla{
    grid-column: 1 / -1;
    background-color: rgb(66, 131, 206);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color: rgb(12, 12, 186);
    color: azure;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem ;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(255, 0, 0);
}

#cero{
    grid-column: span 2 ;
}

#igual {
    grid-row: span 2 ;
    background-color: rgb(6, 6, 30);
}

#igual:hover{
    background-color: aqua;
}
#cal{
   color: white;
}